root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml,yaml,ps1,md}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_naming_rule.private_fields.symbols = private_fields
dotnet_naming_rule.private_fields.style = underscore_camel
dotnet_naming_rule.private_fields.severity = warning
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.underscore_camel.required_prefix = _
dotnet_naming_style.underscore_camel.capitalization = camel_case

dotnet_naming_rule.public_members.symbols = public_members
dotnet_naming_rule.public_members.style = pascal
dotnet_naming_rule.public_members.severity = suggestion
dotnet_naming_symbols.public_members.applicable_kinds = property,method,event,class,struct,interface,enum
dotnet_naming_symbols.public_members.applicable_accessibilities = public
dotnet_naming_style.pascal.capitalization = pascal_case
